@import "../../../variables";
.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  .create-deck {
    width: 100%;
    display: flex;
    align-content: center;
    .deck-head {
      margin-top: 30px;
      color: $blue_p;
    }
    .deck-body {
      margin-top: 10px;
      margin-left: 0;
      :last-child {
        margin-top: 20px;
      }
      input[type="text"] {
        margin-right: 5%;
      }
    }
    .deck-footer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      button {
        width: 80% !important;
        box-shadow: unset;
      }
    }
  }
  .list {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 70px;
    .deck {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      .container {
        cursor: pointer;
        .deck-head {
          margin-top: 30px;
          color: $blue_p;
          h3 {
            display: inline-block;
            width: 180px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            transition: none !important;
          }
        }
        .deck-body {
          margin-top: 50px;
          margin-left: 0;
          p:last-child {
            margin-top: 10px;
          }
        }
      }
      .deck-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
          width: 45%;
          margin-bottom: 10px;
          box-shadow: unset;
        }
        :last-child {
          color: $blue_p;
        }
        :last-child:hover {
          background-color: $blue_s;
        }
        .deck-delete {
          color: $red;
        }
      }
    }
  }
}
