<div class="home">
  <div class="create-deck">
    <input type="text" placeholder="Deste Adı" />
    <button>Deste Oluştur</button>
  </div>
  <div class="list-deck">
    <div class="g-box-container deck">
      <div class="deck-head">
        <h3>English -Turkish</h3>
      </div>
      <div class="deck-body">
        <p>12 Kart içeriyor</p>
        <p>50% Tamamlandı</p>
      </div>
      <div class="deck-footer">
        <button >Detaylar</button>

        <button>Çalış</button>
      </div>
    </div>
  </div>
</div>
