<div class="home">
  <div class="list">
    <div class="g-box-container deck create-deck">
      <div class="deck-head">
        <h3>Deste Oluştur</h3>
      </div>
      <div class="deck-body">
        <input type="text" placeholder="Deste Adı" #deckname />
      </div>
      <div class="deck-footer">
        <button (click)="AddDeck(deckname.value)">Deste Oluştur</button>
      </div>
    </div>

    <div *ngFor="let deck of decks" class="g-box-container deck">
      <div
        [routerLink]="'work-deck'"
        [state]="{ deck: deck }"
        class="container"
      >
        <div class="deck-head">
          <h3>
            {{ deck.name }}
          </h3>
        </div>
        <div class="deck-body">
          <p>{{ deck.cardCount }} Kart içeriyor</p>
          <p>{{ deck.percentage }}% Tamamlandı</p>
        </div>
      </div>
      <div class="deck-footer">
        <button class="deck-delete" (click)="deleteDeck(deck.id)">Sil</button>

        <button (click)="navigateDetails(deck)">Detaylar</button>
      </div>
    </div>
  </div>
</div>
<!-- <swal
  #deleteSwal
  title="Emin misiniz?"
  text="Silmek istediğiniz veri geri alınamaz."
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  [swalOptions]="{ confirmButtonText: 'Onayla' }"
>
</swal> -->
