@import "../../../variables";
.home {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  .exception {
    color: $red;
    width: 100%;
  }
  .create-deck {
    width: 100%;
    display: flex;
    align-content: center;
    input[type="text"] {
      margin-right: 5%;
    }
    button {
      width: 20%;
    }
  }
  .list {
    flex-direction: row;
    padding: 126px 0;
    column-gap: 60px;
    row-gap: 70px;
    overflow-y: hidden;
    flex-wrap: wrap;
    .deck {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      .container {
        cursor: pointer;
        .deck-head {
          margin-top: 30px;
          color: $blue_p;
        }
        .deck-body {
          margin-top: 50px;
          margin-left: 0;
          p:last-child {
            margin-top: 10px;
          }
        }
      }
      .deck-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
          width: 45%;
          box-shadow: unset;
        }
        :last-child {
          color: $blue_p;
        }
        :last-child:hover {
          background-color: $blue_s;
        }
        .deck-delete {
          color: $red;
        }
      }
    }
  }
}
