<div class="home">
  <app-error *ngIf="isError" [message]="message"></app-error>
  <div class="create-deck">
    <input type="text" placeholder="Deste Adı" #deckname />
    <button (click)="AddDeck(deckname.value)">Deste Oluştur</button>
  </div>
  <div class="list">
    <div *ngFor="let deck of decks" class="g-box-container deck">
      <div
        [routerLink]="'work-deck'"
        [state]="{ deck: deck }"
        class="container"
      >
        <div class="deck-head">
          <h3>{{ deck.name }}</h3>
        </div>
        <div class="deck-body">
          <p>{{ deck.cardCount }} Kart içeriyor</p>
          <p>{{ deck.deckPercentage }}% Tamamlandı</p>
        </div>
      </div>
      <div class="deck-footer">
        <button class="deck-delete" (click)="deleteDeck(deck.id)">Sil</button>
        <button [routerLink]="'deck'" [state]="{ deck: deck }">Detaylar</button>
      </div>
    </div>
  </div>
</div>
