@import "../../../variables";
header {
  width: 100%;

  box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 24px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  .g-width-80 {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    .logo {
      cursor: pointer;
    }
    .profile-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        text-align: center;
        padding-right: 30px;
      }
      img {
        width: 48px;
        height: 48px;
      }
      button {
        box-shadow: unset;
        font-weight: 400;
        height: 48px;
        width: 150px;
      }
      .logout {
        color: $red;
      }
    }
    .login {
      width: 15%;
      display: flex;
      justify-content: space-between;

      button {
        box-shadow: none;
        height: 48px;
      }
    }
  }
}
