<header>
  <div class="g-width-80">
    <div class="logo" routerLink="/">Polyglotus</div>
    <div class="profile-section" *ngIf="isLogin">
      <p>{{ fullname }}</p>
      <button routerLink="home">Destelerim</button>
      <div class="profile-picture">
        <img
          src="assets/images/icons8-circled-user-male-skin-type-5-96.png"
          alt=""
          srcset=""
        />
      </div>
      <button class="logout" (click)="Logout()">Çıkış Yap</button>
    </div>
    <div class="login" *ngIf="!isLogin">
      <button routerLink="login">Giriş Yap</button>
      <button routerLink="register">Kayıt Ol</button>
    </div>
  </div>
</header>
