<div class="register">
  <div class="g-box-container">
    <h2>Kayıt Ol</h2>
    <app-error *ngIf="isError" [message]="message"></app-error>
    <div class="inputs">
      <input type="text" placeholder="Full Name" #fullname />
      <input type="text" placeholder="Email" #email />
      <input type="password" placeholder="Password" #pass />
    </div>
    <button (click)="register(fullname.value, email.value, pass.value)">
      Kayıt Ol
    </button>
    <p>Hesabın var mı? <a href="login">Giriş Yap</a></p>
  </div>
</div>
