@import "../../../variables";
.login {
  width: 100%;
  display: flex;
  .g-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 350px;
    padding-bottom: 15px;

    h2 {
      margin: 30px 0;
      text-align: center;
    }
    .inputs {
      margin: 5px 30px 50px 30px;
    }
    button {
      box-shadow: none;
      background-color: $blue_p;
      color: white;
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
    }
    p {
      margin: auto;
      margin-bottom: 5px;
      font-size: medium;
    }
  }
}
