@import "../../../variables";

.operations {
  display: flex;
  justify-content: space-around;
  text-align: center;
  .g-box-container {
    width: 250px;
    height: 250px;
    h3 {
      margin-bottom: 50px;
    }
    button {
      box-shadow: unset;
      font-weight: 400;
      height: 48px;
      width: 200px;
    }
    :hover {
      background-color: $blue_p;
      color: white;
    }
  }
}

.list {
  height: 250px;
  margin-top: 80px;

}
