<div class="work-deck">
  <div class="g-box-container" *ngIf="isEndOfTheDeck">
    <h3>Destenin sonu</h3>
  </div>
  <div class="g-box-container" *ngIf="!isEndOfTheDeck && showCard">
    <h3>{{ currentCard.front.word }}</h3>
    <p>{{ currentCard.front.description }}</p>
  </div>
  <div class="g-box-container" *ngIf="!isEndOfTheDeck && !showCard">
    <a (click)="showCard = true"
      ><img src="../../../assets/images/icons8-up-left-64.png"
    /></a>
    <h3>{{ currentCard.back.word }}</h3>
    <p>{{ currentCard.back.description }}</p>
  </div>
  <button (click)="this.showCard = false" *ngIf="showCard && !isEndOfTheDeck">
    Cevabı Göster
  </button>
  <div class="answers" *ngIf="!showCard && !isEndOfTheDeck">
    <button class="incorret" (click)="nextCard(false)">Zor</button>
    <button class="corret" (click)="nextCard(true)">Kolay</button>
  </div>
</div>
