<div class="deck-detail">
  <div class="update-deck">
    <input type="text" />
    <button>Güncelle</button>
  </div>
  <div class="deck-title">
    <h4>Kartlar</h4>
    <button>Ekle</button>
  </div>
  <div class="card-list">
    <div class="g-box-container">
      <p>Word 1</p>
      <p class="status red">Zor</p>
      <button>Sil</button>
    </div>
    <div class="g-box-container">
      <p>Word 2</p>
      <p class="status green">Kolay</p>
      <button>Sil</button>
    </div>
    <div class="g-box-container">
      <p>Word 3</p>
      <p class="status red">Zor</p>
      <button>Sil</button>
    </div>
    <div class="g-box-container">
      <p>Word 4</p>
      <p class="status green">Kolay</p>
      <button>Sil</button>
    </div>
  </div>
</div>
