@import "../../../variables";
.deck-detail {
  width: 80%;
  margin: auto;
  margin-bottom: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .update-deck {
    width: 100%;
    display: flex;
    align-content: center;
    input[type="text"] {
      margin-right: 5%;
    }
    button {
      width: 20%;
    }
  }
  .deck-title {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    button {
      width: 10%;
    }
    h4 {
      font-weight: 600;
    }
  }
  .card-list {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .g-box-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p.status.red {
        color: $red;
      }
      p.status.green {
        color: $green_p30;
      }
      p {
        margin-left: 30px;
      }
      button {
        border: 2px;
        border-color: aqua;
        box-shadow: unset;
        width: 10%;
        color: $red;
      }
      button:hover {
        background-color: $red_o30;
        color: white;
      }
    }
  }
}
