<div class="deck-detail">
  <app-error *ngIf="isError" [message]="message"></app-error>
  <div class="update-deck">
    <input type="text" value="{{ deckInfo.name }}" />
    <button>Güncelle</button>
  </div>
  <div class="deck-title">
    <h4>Kartlar</h4>
    <button
      routerLink="create-card"
      [routerLink]="'create-card'"
      [state]="{ deck: deckInfo }"
    >
      Ekle
    </button>
  </div>
  <div class="list">
    <div class="g-box-container" *ngFor="let card of cards">
      <p>{{ card.word }}</p>
      <p *ngIf="card.status" class="status green">Kolay</p>
      <p *ngIf="!card.status" class="status red">Zor</p>
      <button (click)="deleteCard(card.id ? card.id : -1)">Sil</button>
    </div>
  </div>
</div>
