<div class="deck-detail">
  <app-error *ngIf="isError" [message]="message"></app-error>
  <div class="update-deck">
    <h2>{{ deckInfo.name }}</h2>
    <!-- <input type="text" [value]="deckInfo.name" /> -->
    <!-- <button [swal]="['Oops!', 'Yapım aşamasında :/', 'warning']">
      Güncelle
    </button> -->
  </div>
  <div class="deck-title">
    <h4>Kartlar</h4>
    <button
      routerLink="create-card"
      [routerLink]="'create-card'"
      [state]="{ deck: deckInfo }"
    >
      Ekle
    </button>
  </div>
  <div class="list">
    <div class="g-box-container" *ngFor="let card of cards">
      <p style="width: 300px">{{ card.word }}</p>
      <p *ngIf="card.status" class="green">Kolay</p>
      <p *ngIf="!card.status" class="red">Zor</p>
      <button
        [swal]="deleteSwal"
        (confirm)="deleteCard(card.id ? card.id : -1)"
      >
        Sil
      </button>
    </div>
  </div>
</div>
<swal
  #deleteSwal
  title="Emin misiniz?"
  text="Silmek istediğiniz veri geri alınamaz."
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  [swalOptions]="{ confirmButtonText: 'Onayla' }"
>
</swal>
